<?xml version="1.0" ?>
<launch>
    <!-- must be set to true so that published /clock is used in rviz -->
    <param name="/use_sim_time" value="true" />

	<!-- simulation configuration -->
    <arg name="rate"        default="1"          doc="The playback speed as a factor." />
	<arg name="looping"     default="True"       doc="Whether to loop the bag file." />
    <arg name="start"       default="0.0"        doc="Start seconds into the bag file" />
    <arg name="end"         default="99999999"   doc="Stop at seconds into bag file" />
    <arg name="sequence"    default="00"         doc="The KITTI-360 odometry dataset sequence to play." />
    <arg name="directory"   default=""           doc="The path to the KIITI-360 dataset directory. The referenced directory should contain folders of the level `data_raw_3d`, `calibrations`, etc."/>

    <param name="/kitti360_player/rate"        value="$(arg rate)" />
    <param name="/kitti360_player/looping"     value="$(arg looping)" />
    <param name="/kitti360_player/start"       value="$(arg start)" />
    <param name="/kitti360_player/end"         value="$(arg end)" />
    <param name="/kitti360_player/sequence"    value="$(arg sequence)" />
    <param name="/kitti360_player/directory"   value="$(arg directory)" />

    <!-- what data to show/load/publish or not - if disabled here, will also not be loaded into RAM -->
    <arg name="pub_velodyne"                        default="True"   doc="velodyne pointcloud." />
    <arg name="pub_sick_points"                     default="True"   doc="sick points." />
    <arg name="pub_perspective_rectified_left"      default="True"   doc="images of left perspective camera." />
    <arg name="pub_perspective_rectified_right"     default="True"   doc="images of right perspective camera." />
    <arg name="pub_perspective_unrectified_left"    default="True"   doc="images of left perspective camera (unrectified)." />
    <arg name="pub_perspective_unrectified_right"   default="True"   doc="images of right perspective camera (unrectified)." />
    <arg name="pub_fisheye_left"                    default="True"   doc="images of left fisheye camera." />
    <arg name="pub_fisheye_right"                   default="True"   doc="images of right fisheye camera." />
    <arg name="pub_bounding_boxes"                  default="True"   doc="bounding boxes." />
    <arg name="pub_2d_semantics_left"               default="True"   doc="semantic ID of each pixel (left cam)" />
    <arg name="pub_2d_semantics_right"              default="True"   doc="semantic ID of each pixel (right cam)" />
    <arg name="pub_2d_semantics_rgb_left"           default="True"   doc="color-coded semantic label for each pixel (left cam)" />
    <arg name="pub_2d_semantics_rgb_right"          default="True"   doc="color-coded semantic label for each pixel (right cam)" />
    <arg name="pub_2d_instance_left"                default="True"   doc="instance label of each pixel (left cam)" />
    <arg name="pub_2d_instance_right"               default="True"   doc="instance label of each pixel (right cam)" />
    <arg name="pub_2d_confidence_left"              default="True"   doc="confidence map (left cam)" />
    <arg name="pub_2d_confidence_right"             default="True"   doc="confidence map (right cam)" />
    <arg name="pub_3d_semantics_static"             default="True"   doc="static 3d semantics" />
    <arg name="pub_3d_semantics_dynamic"            default="True"   doc="dynamic 3d semantics" />

    <param name="/kitti360_player/pub_velodyne"                       value="$(arg pub_velodyne)" />
    <param name="/kitti360_player/pub_sick_points"                    value="$(arg pub_sick_points)" />
    <param name="/kitti360_player/pub_perspective_rectified_left"     value="$(arg pub_perspective_rectified_left)" />
    <param name="/kitti360_player/pub_perspective_rectified_right"    value="$(arg pub_perspective_rectified_right)" />
    <param name="/kitti360_player/pub_perspective_unrectified_left"   value="$(arg pub_perspective_unrectified_left)" />
    <param name="/kitti360_player/pub_perspective_unrectified_right"  value="$(arg pub_perspective_unrectified_right)" />
    <param name="/kitti360_player/pub_fisheye_left"                   value="$(arg pub_fisheye_left)" />
    <param name="/kitti360_player/pub_fisheye_right"                  value="$(arg pub_fisheye_right)" />
    <param name="/kitti360_player/pub_bounding_boxes"                 value="$(arg pub_bounding_boxes)" />
    <param name="/kitti360_player/pub_2d_semantics_left"              value="$(arg pub_2d_semantics_left)" />
    <param name="/kitti360_player/pub_2d_semantics_right"             value="$(arg pub_2d_semantics_right)" />
    <param name="/kitti360_player/pub_2d_semantics_rgb_left"          value="$(arg pub_2d_semantics_rgb_left)" />
    <param name="/kitti360_player/pub_2d_semantics_rgb_right"         value="$(arg pub_2d_semantics_rgb_right)" />
    <param name="/kitti360_player/pub_2d_instance_left"               value="$(arg pub_2d_instance_left)" />
    <param name="/kitti360_player/pub_2d_instance_right"              value="$(arg pub_2d_instance_right)" />
    <param name="/kitti360_player/pub_2d_confidence_left"             value="$(arg pub_2d_confidence_left)" />
    <param name="/kitti360_player/pub_2d_confidence_right"            value="$(arg pub_2d_confidence_right)" />
    <param name="/kitti360_player/pub_3d_semantics_static"            value="$(arg pub_3d_semantics_static)" />
    <param name="/kitti360_player/pub_3d_semantics_dynamic"           value="$(arg pub_3d_semantics_dynamic)" />

    <!-- the actual simulation node -->
    <node pkg="fub_semantic_kitty" name="kitti360_data_publisher" type="kitti360_data_publisher.py" output="screen"/>

    <!-- static transforms -->
    <!-- format: x-offset y-offset z-offset yaw(z) pitch(y) roll(x) (offset in meters, angles in radians)-->
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="gpsimu_to_velodyne" 
        args="0.81 0.32 -0.83 0 0 3.14159265359 kitti360_gpsimu kitti360_velodyne " />
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="gps_imu_to_cam_00" 
        args="1.60 0.02 -0.65 0 4.71238898038 4.71238898038 kitti360_gpsimu kitti360_cam_00" />
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="gps_imu_to_cam_01" 
        args="1.60 0.62 -0.65 0 4.71238898038 4.71238898038 kitti360_gpsimu kitti360_cam_01" />
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="gps_imu_to_cam_02" 
        args="0.73 0.78 -1.05 0 3.14159265359 4.71238898038 kitti360_gpsimu kitti360_cam_02" />
    <node pkg="tf2_ros" type="static_transform_publisher" 
        name="gps_imu_to_cam_03" 
        args="0.73 -0.14 -1.05 0 0 4.71238898038 kitti360_gpsimu kitti360_cam_03" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="gps_imu_to_sick_points"
        args="0.41 0.32 -0.79 0 0 3.14159265359 kitti360_gpsimu kitti360_sick_points" />
</launch>
